<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HostURL" value="https://api-staging.traitify.com"/>
    <add key="SecretKey" value="qrn5u1ocl0niru9ntl0160njrc"/>
    <add key="PublicKey" value="qop22g5tmrcgl270nuhel9cq9g"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
